

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e fundo geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    color: white;
    /*max-width: 1100px;
    margin: 0 auto;*/
    padding: 20px 0;
    text-align: center;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header h1 {
    margin-bottom: 10px;
}

/* MENU */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd700;
}

/* SEÇÕES */
section {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
}

section h2 {
    margin-bottom: 20px;
    color: #1e3c72;
    border-left: 5px solid #2a5298;
    padding-left: 10px;
}

/* SOBRE */
#sobre img {
    border-radius: 20%;
    margin: 20px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* LISTAS */
ul {
    margin-top: 15px;
    padding-left: 20px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #2a5298;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* PROJETOS */
#projetos article {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.projeto {
    margin-bottom: 40px;
}

/* IMAGENS */
.img-projeto {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* FORMULÁRIO */
form {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    max-width: 500px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #2a5298;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #1e3c72;
}

/* CONTATO */
address {
    margin-top: 20px;
    font-style: normal;
}

address a {
    text-decoration: none;
    color: #2a5298;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    section {
        padding: 40px 5%;
    }
}




